/* Stylesheet uses Level 3 Media Queries. Level 4 coverage still spotty. */
body {
    background: #faf9ff; /* N-98 */
    margin-top: 0;
    margin-bottom: 0;

}

/*Image becomes no larger than actual size.*/
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    width: 90%;
    margin-bottom: 1.5em;
    padding: 0 5%;
    background: #f3f3fa; /* N-96 */
    border-bottom: 2px solid #e8e7ef; /* N-92 */
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    background: #f4f3fa; /* N-92 */
    border-bottom: 2px solid #e8e7ef; /* N-92 */
    top: 0;
    bottom: -2px;
    right: calc((100vw - 100%) / -2);
    left: calc((100vw - 100%) / -2);
    z-index: -1;
}

figure.header-icon {
    margin: 0 0.5em 0 0;
    padding: 0;
}

@media (min-width: 300px) and (max-width: 399px) {
    figure.header-icon{
        width: 30px;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    figure.header-icon {
        width: 40px;
    }
}

@media (min-width: 500px) {
    figure.header-icon {
        width: 50px;
    }
}

main {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between;
    align-content: flex-start; */
}

@media (min-width: 300px) and (max-width: 999px) {
    main {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width: 1000px) {
    main {
        justify-content: space-between;
        align-content: flex-start;
    }
}

.notice {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    border: 2px solid #e8e7ef; /* N-92 */
    border-radius: 12px;
    position: relative;
}

figure.notice-icon {
    width: 24px;
    margin: 0;
    padding: 0;
    flex: initial;
    position: absolute;
    top: 5px;
    right: 5px;
}

figure.notice-icon:hover {
    cursor: pointer;
    border: 1px solid #767680; /* NV-50 */
    border-radius: 8px;
}

.project {
    /* width: 45%; */
    margin: 1.5em 0;
    padding: 0;
    flex: initial;
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: flex-start;
    align-items: flex-start;
}

@media (min-width: 300px) and (max-width: 999px) {
    .project {
        width: 100%;
        flex-flow: row wrap;
    }
}

@media (min-width: 1000px) {
    .project {
        width: 45%;
        flex-flow: column wrap;
    }
}

.project-title {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #dbe1ff; /* T-90 */
    border-top: 2px solid #e8e7ef; /* N-92 */
    border-left: 2px solid #e8e7ef; /* N-92 */
    border-right: 2px solid #e8e7ef; /* N-92 */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    flex: initial;
}

figure.project-icon {
    margin: 0;
    padding: 0.25em;
    background: #dbe1ff; /* P-90 */
    border: 1px solid #01174b; /* P-10 */
    border-radius: 8px;
    flex: initial;
}

@media (min-width: 300px) and (max-width: 399px) {
    figure.project-icon{
        width: 24px;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    figure.project-icon {
        width: 32px;
    }
}

@media (min-width: 500px) {
    figure.project-icon {
        width: 40px;
    }
}

.project-desc {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background: #f3f3fa; /* N-96 */
    border-left: 2px solid #e8e7ef; /* N-92 */
    border-right: 2px solid #e8e7ef; /* N-92 */
    border-bottom: 2px solid #e8e7ef; /* N-92 */
    /* flex: 1; */
}

@media (min-width: 300px) and (max-width: 999px) {
    .project-desc {
        flex: initial;
    }
}

@media (min-width: 1000px) {
    .project-desc {
        flex: 1;
    }
}

.project-btns {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #f3f3fa; /* N-96 */
    border-left: 2px solid #e8e7ef; /* N-92 */
    border-right: 2px solid #e8e7ef; /* N-92 */
    border-bottom: 2px solid #e8e7ef; /* N-92 */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    width: 30%;
    max-width: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    background: #ffdcc2; /* T-90 */
    border: none;
    border-radius: 8px;
    color: #2e1500; /* T-10 */
    box-shadow: 2px 2px 4px 2px #dad9e0; /* N-87 */
}

button:hover {
    cursor: pointer;
    background: #ffb77a; /* T-80 */
}

/* CAN REMOVE THIS - NO LONGER NEEDED - START */
button a {
    color: #2e1500; /* T-10 */
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}
/* CAN REMOVE THIS - NO LONGER NEEDED - STOP*/

footer {
    width: 90%;
    margin-top: 1.5em;
    padding: 0 5%;
    border-top: 2px solid #e8e7ef; /* N-92 */
    flex: initial;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    border-top: 2px solid #e8e7ef; /* N-92 */
    top: -2px;
    bottom: 0;
    right: calc((100vw - 100%) / -2);
    left: calc((100vw - 100%) / -2);
    z-index: -1;
}

/* Font styles and their media queries */
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
    color: #1a1b20; /* N-10 */
}

p a {
    color: #4e6629; /* S-40 */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.notice-txt {
    color: #ba1a1a; /* E-40 */
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #1a1b20; /* N-10 */
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #01174b; /* P-10 */
}

/* Media queries for fonts */
@media (min-width: 300px) and (max-width: 329px) {
    h1 {
        font-size: 1.0625em; /* 17px */
    }
}

@media (min-width: 330px) and (max-width: 399px) {
    h1 {
        font-size: 1.125em; /* 18 px */
    }
}

@media (min-width: 300px) and (max-width: 399px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }

    button {
        font-size: 0.875em; /* 14px */
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }

    button {
        font-size: 0.9375em; /* 15px */
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    p {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }

    button {
        font-size: 1em; /* 16px */
    }
}

@media (min-width: 600px) {
    p {
        font-size: 1.0625em; /* 17px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    button {
        font-size: 1.0625em; /* 17px */
    }
}